<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRVpXZ3Z91rSE85xb_Y_PwP0Cisecdj9k</string>
	<key>GCM_SENDER_ID</key>
	<string>935686506576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io..Journal</string>
	<key>PROJECT_ID</key>
	<string>journal-6c69e</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-6c69e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935686506576:ios:a8817b032bbdafc1e16955</string>
</dict>
</plist>